
th {
    text-align: center; 
    background-color: #101010 !important;
    font-size: 12px;
    color: white;
}

.img-col {
    margin:0px;
    text-align:center;
    float:left;
}

.bg-1 {
	background-color: #181818;
	color: #ffffff;
}

.bg-2 {
	background-color: #FFFFFF;
	color: #000000;
}

.container-fluid {

}

.title-desc {
    text-align:left;
}

.title-desc p {
    font-size : 13px;
    color : dimgray;
    margin-bottom: 0px;
}

.title-desc a {
    font-size: 15px;
    font-weight:bold;
    padding-bottom: 10px;
}

.syn-btn {
    font-size: 10px;
}

.v-center {
    display: table-cell;
    vertical-align: middle !important;

}

.search-bar {
    max-width:  100% !important;
}

.lb-md {
  font-size: 12px;
}

/*Based on code found at https://codepen.io/jsdev/pen/ojycf*/

.star-rating {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 40px;
  
  width: 333px;
  margin: 0;
  position: relative;
  text-shadow: 0 1px 0 #a2a2a2;
}

.star-rating::before { 
  content: '★★★★★★★★★★';
  opacity: .5;
}


.star-rating::after {
  color: gold;
  content: '★★★★★★★★★★';
  text-shadow: 0 1px 0 #ab5414;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}

.mal-score {
  color: #c5c5c5;
  font-size: 20px;
  text-shadow: 0 1px 0 #a2a2a2;
  align-content: center;
}

#score {
    color: gold;
    text-shadow: 0 1px 0 #ab5414;
}

.row {
    margin-bottom: 20px;
}

.alert-box{
    margin: 5px;
}

.section {
    display:flex;
    flex-basis:100%;
    align-items:center;
    color: #101010;
    margin:8px 0px;
    padding:20px;
}

.section::before, .section::after {
    content: "";
    flex-grow: 1;
    background: #101010;
    height:1px;
    font-size:0px;
    line-height:0px;
    margin: 0px 8px;
}

.form-field > input{
    display:none !important;
}

.form-field > span {
    display:block;
}