@model List_manager.Models.MALObjects.UserAnimeData

@{
    ViewData["Title"] = "Add";
}

<h2>MAL Add</h2>

<h3>@ViewData["anime"]</h3>

<form asp-action="Add" asp-controller="MAL">
    <div class="form-horizontal">
        <input type="hidden" name="animeId" value="@ViewData["animeID"]" />

        @Html.Partial("_MALEditPartial", Model)

    </div>
</form>

<div>
    <a href="@ViewData["returnUrl"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
