@model List_manager.Models.UserAnimeData

@{
    ViewData["Title"] = "Update";
}

<h2>MAL Update</h2>

<h3>@ViewData["anime"]</h3>

<form asp-action="Update" asp-controller="MAL">
    <div class="form-horizontal">
        <input type="hidden" name="animeId" value="@ViewData["AnimeID"]" />

        @Html.Partial("_MALEditPartial", Model)

    </div>
</form>

<div>
    <a href="@ViewData["returnUrl"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
