@model List_manager.Models.UserAnimeData


    <div class="form-horizontal">
        
        <div class="container">

            <div class="advanced collapse">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Episode" class="col-md-2 control-label"></label>
                <div class="col-md-10 form-field">
                    <input asp-for="Episode" max="@ViewData["Episodes"]" class="form-control" /> / @ViewData["Episodes"]
                    <span asp-validation-for="Episode" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Status" class="form-control">
                        <option value="1">Watching</option>
                        <option value="2">Completed</option>
                        <option value="3">On Hold</option>
                        <option value="4">Dropped</option>
                        <option value="6">Plan to Watch</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Score" max="10" min="0" class="form-control" /> / 10
                    <span asp-validation-for="Score" class="text-danger" />
                </div>
            </div>

            <div class="section">
                <a data-toggle="collapse" href=".advanced">Advanced Options</a>
            </div>


            <div class="collapse advanced container">

                <div class="form-group">
                    <label asp-for="Storage_Type" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Status" class="form-control">
                            <option value="">Select storage type</option>
                            <option value="1">Hard Drive</option>
                            <option value="6">External HD</option>
                            <option value="7">NAS</option>
                            <option value="8">Blu-ray</option>
                            <option value="2">DVD / CD</option>
                            <option value="4">Retail DVD</option>
                            <option value="5">VHS</option>
                            <option value="3">None</option>
                        </select>
                        <span asp-validation-for="Storage_Type" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Storage_Value" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Storage_Value" class="form-control" />
                        <span asp-validation-for="Storage_Value" class="text-danger" />
                        Value may be number of discs, tapes, or size in gigabytes for hard-drive storage types
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Times_Rewatched" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Times_Rewatched" class="form-control" />
                        <span asp-validation-for="Times_Rewatched" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Rewatch_Value" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Rewatch_Value" class="form-control" />
                        <span asp-validation-for="Rewatch_Value" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Date_Start" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Date_Start" type="date" class="form-control" />
                        <span asp-validation-for="Date_Start" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Date_Finish" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Date_Finish" type="date" class="form-control" />
                        <span asp-validation-for="Date_Finish" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Priority" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Priority" class="form-control" />
                        <span asp-validation-for="Priority" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Enable_Discussion" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input type="checkbox" name="Enable_Discussion" value="1" class="form-control" />

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Enable_Rewatching" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input type="checkbox" name="Enable_Rewatching" value="1" class="form-control" />

                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Comments" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="Comments" rows="5" cols="40" class="form-control"></textarea>
                        <span asp-validation-for="Comments" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="Tags" rows="5" cols="40" class="form-control" ></textarea>
                        <span asp-validation-for="Tags" class="text-danger" />
                        Use commas to separate tags.
                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
