@model List_manager.Models.UserAnimeData


    <div class="form-horizontal">
        <h4>UserAnimeData</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Episode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Episode" max="@ViewData["Episodes"]" class="form-control" /> / @ViewData["Episodes"]
                <span asp-validation-for="Episode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Status" class="form-control">
                    <option value="watching">Watching</option>
                    <option value="completed">Completed</option>
                    <option value="onhold">On Hold</option>
                    <option value="dropped">Dropped</option>
                    <option value="plantowatch">Plan to Watch</option>
                </select>
                <span asp-validation-for="Status" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Score" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Score" max="10" min="0" class="form-control" /> / 10
                <span asp-validation-for="Score" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Storage_Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Storage_Type" class="form-control" />
                <span asp-validation-for="Storage_Type" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Storage_Value" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Storage_Value" class="form-control" />
                <span asp-validation-for="Storage_Value" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Times_Rewatched" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Times_Rewatched" class="form-control" />
                <span asp-validation-for="Times_Rewatched" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rewatch_Value" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rewatch_Value" class="form-control" />
                <span asp-validation-for="Rewatch_Value" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date_Start" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date_Start" class="form-control" />
                <span asp-validation-for="Date_Start" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date_Finish" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date_Finish" class="form-control" />
                <span asp-validation-for="Date_Finish" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Priority" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Is_Enable_Discussion" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="checkbox" asp-for="Is_Enable_Discussion" class="form-control" />
                <span asp-validation-for="Is_Enable_Discussion" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Is_Enable_Rewatching" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="checkbox" asp-for="Is_Enable_Rewatching" value="0" class="form-control" />
                <span asp-validation-for="Is_Enable_Rewatching" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tags" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger" />
                Use commas to separate tags.
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
