@model List_manager.Models.UserAnime

@{
    ViewData["Title"] = "Edit";
}


<h2>Edit</h2>

<div id="Tabs" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#Tab1" aria-controls="Tab1" role="tab" data-toggle="tab">
                User Edit
            </a>
        </li>
        <li>
            <a href="#Tab2" aria-controls="Tab2" role="tab" data-toggle="tab">
                MAL Edit
            </a>
        </li>
    </ul>

    <div class="tab-content">
       
        <div role="tabpanel" class="tab-pane active" id="Tab1" >
            <form asp-action="Edit">
                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserAnimeID" />
                    <input type="hidden" asp-for="AnimeID" />
                    <input type="hidden" asp-for="ApplicationUserId" />

                    @Html.Partial("_editFieldsPartial", Model)

                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="Tab2">
            <form asp-action="Add" asp-controller="MAL">
                <div class="form-horizontal">
                    <input type="hidden" name="animeId" value="@Model.Anime.MALID" />
                   
                    @Html.Partial("_MALEditPartial", new UserAnimeData())

                </div>
            </form>
            
        </div>

    </div>

</div>
<div>
    <a asp-action="Index">Back to List</a> |
    <a href="@Model.Anime.GetLink()" target="_blank">Go to MAL Webpage</a> |
    <a asp-action="Delete">Delete</a> 
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
